 <div class="layout-top-bar" style="display: inline-block;">
    <!-- <button style="margin-left: 25px; margin-top: 10px;" class="MenuhideBtn" (click)="MenuHide()"> Click Me.</button> -->
   <div class="header" ><p>Ronil Lakhani</p>
    </div>

    <div class="btnMenu" (click)="MenuHide()">
      <i class="pi pi-bars ng-tns-c29-0"  ></i>
    </div>

    <!-- <a class="MenuhideBtn1 ng-tns-c29-0" style="display: inline-block;" ><i class="pi pi-bars ng-tns-c29-0"  (click)="MenuHide()"></i></a> -->
 </div>